* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #2ec36c;
    color: brown;
}

nav {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 20px;
}

p {
    margin: 20px;
}
